<prot-nav-bar></prot-nav-bar>
<div class="container mx-auto bg-fixed" style="background-image: url(../../assets/img/FondoSillas.jpeg)">
    <div class="flex mb-10"></div>
    <div class="bg-red-50 rounded lg:max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mb-3 p-6 bg-opacity-80 w-5/6">
        <div class="text-center font-serif justify-items-center">
            <h2 class="text-4xl text-black font-extrabold tracking-wide italic m-8">¿Con qué diseñador has compartido asiento?</h2>
        </div>
    </div>
    <div class="relative text-gray-600 content-center max-w-7xl justify-items-center mx-auto text-center my-4">
        <p class="italic text-black text-lg font-bold">Buscador</p>
        <input type="search" name="filterSilla" placeholder="Buscar" class="bg-red-50 h-10 px-5 pr-10 rounded-full text-sm focus:outline-none border-red-300" [(ngModel)]="filterSilla">
        <button type="submit" class="right-0 top-0 mt-3 mr-4 pl-2"><i class="fas fa-search"></i></button>
    </div>
    <div>
        <div class="lg:py-6 flex justify-center" *ngFor="let silla of sillas | filter:filterSilla; let i = index" [@fadeAnimation]>
            <div *ngIf="i %2 == 0 else elseBlock">
                <div class="bg-red-50 lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg">
                    <div class="lg:w-1/2">
                        <div class="bg-contain bg-no-repeat bg-center lg:rounded-lg h-full w-full lg:visible invisible" style="background-image:url('../../assets/img/sillas/{{silla.imagen}}_sil.jpg')"></div>
                    </div>
                    <div class="py-12 px-6 max-w-xl lg:max-w-5xl lg:w-1/2">
                        <h2 class="text-3xl"><span class="text-indigo-600">{{ silla.nombre }}</span></h2>
                        <p class="mt-4 text-gray-600">{{ silla.descripcion }}</p>
                        <div class="mt-8 justify-end">
                            <a href="{{urlContext}}/donar/{{ silla.numero }}" class="bg-gray-900 text-gray-100 px-5 py-3 font-semibold rounded">Donar</a>
                            <button class="bg-gray-900 text-gray-100 px-5 py-3 font-semibold ml-10 w-44  rounded justify-end lg:invisible" (click)="openDialog(silla.numero)">Ver diseño</button>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #elseBlock>
                <div class="bg-red-50 lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg lg:my-0 my-10" >
                    <div class="py-12 px-6 max-w-xl lg:max-w-5xl lg:w-1/2">
                        <h2 class="text-3xl"><span class="text-indigo-600">{{ silla.nombre }}</span></h2>
                        <p class="mt-4 text-gray-600">{{ silla.descripcion }}</p>
                        <div class="mt-8">
                            <a href="{{urlContext}}/donar/{{ silla.numero }}" class="bg-gray-900 text-gray-100 px-5 py-3 font-semibold rounded justify-start">Donar</a>
                            <button class="bg-gray-900 text-gray-100 px-5 py-3 font-semibold ml-10 w-44  rounded justify-end lg:invisible" (click)="openDialog(silla.numero)">Ver diseño</button>
                        </div>
                    </div>
                    <div class="lg:w-1/2">
                        <div class="bg-contain bg-no-repeat bg-center lg:rounded-lg h-full w-full lg:visible invisible" style="background-image:url('../../assets/img/sillas/{{silla.imagen}}_sil.jpg')"></div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    <prot-footer></prot-footer>
</div>

