<prot-nav-bar></prot-nav-bar>
<div class="container mx-auto bg-fixed bg-red-50"> 
    <div class="flex mb-10"></div>
    <div class="max-w-6xl md:w-5/6 mx-auto px-4 sm:px-6 lg:px-8 mb-10 mt-16 p-8 rounded-lg bg-white grid lg:grid-rows-1 gap-4 lg:grid-flow-col md:max-w-5xl sm:max-w-screen-sm">
        <div class="lg:row-span-2 lg:mt-40 h-0">
            <img src="../../assets/img/FondoAboutUs.jpeg" class="rounded lg:max-w-sm sm:max-w-xs lg:visible invisible">
        </div>
        <div class="text-center font-serif">
            <div class="lg:col-span-2">
                <p class="text-5xl text-black font-extrabold tracking-wide italic m-8">¿Quiénes somos?</p>
            </div>
            <div class="lg:row-span-1 lg:col-span-1 row-span-2">
                <p class="mt-2 text-3xl leading-8 tracking-tight text-gray-900 sm:text-4xl">
                ¡Concoce más sobre nuestro proyecto!
                </p>
                <p class="mt-4 max-w-2xl text-md text-gray-500 lg:mx-auto mr-0 text-justify">
                    Somos un grupo que pertenece al Grado de Educación Primaria de la Universidad de Osuna. Este proyecto, que pertenece al área de Educación de las Artes Plásticas y Visuales, es el resultado de la vinculación del mundo de la moda con el mundo artístico. 
                    Las sillas solidarias son un símbolo que pretenden reflejar cierto grado de concienciación hacia la sociedad, ya que con ellas nos gustaría que por un momento nos detuviéramos a pensar y nos “sentáramos” para reflexionar sobre el consumismo, muchas veces incontrolado, que nos invade hoy día. 
                    Además nos ayudaría a que todos nos tomásemos un tiempo para pensar en los más desfavorecidos y en las personas, que por desgracia, se encuentran en el umbral de la pobreza o en riesgo de exclusión social debido a la situación de la pandemia actual en la que nos encontramos. Personas con pocos recursos, sin techo o desamparados económicamente que pasan necesidad y viven en condiciones indignas o casi al borde de ellas. 
                    Nuestro principal objetivo es que con estos donativos monetarios podamos alcanzar entre todos un mundo un lugar más justo y sostenible y que, gracias a la reutilización de los retales de tela que hemos encontrado por casa con los que hemos elaborado nuestras sillas, podamos conseguir que la vida de estas personas sea algo un poco más fácil y que puedan obtener gracias a las donaciones voluntarias una fórmula para pasar estos días un poco mejor. 
                    Estas sillas tan especiales, están tapizadas o sus cojines están elaborados, con retales de diferentes tejidos que inspiran a algunos de los modistas y diseñadores más importantes de todos los tiempos. Desde la mítica Coco Chanel hasta la colorida Agatha Ruíz de la Prada, el extravagante Pierre Cardin o el gran Jean Paul Gaultier. Cada uno de ellos tuvo una estrecha relación para combinar ambos mundos trabajando a partir de las formas, los colores, las texturas, etc. 
                    ¡Queremos que te unas a ellos! Así que podrás compartir asiento en nuestra Universidad con el diseñador que escojas y que ha servido de inspiración para elaborarlas, y si quieres puedes pasarte por nuestra web y ayudar con este proyecto solidario. 
                    <span class="italic">“La colaboración es la convicción plena de que nadie puede llegar a la meta sino llegamos todos”</span>. Virginia Burden.
                </p>
            </div>
        </div>
    </div>
    <prot-footer></prot-footer>
</div>