<footer class="bg-gray-800 text-white w-full text-center border-t border-grey p-4">
    <div class="flex items-center mt-4 pb-3">
        <div class=' md:w-1/2 px-3 text-center'>
            <h2 class="text-2xl mb-2">Integrantes del proyecto</h2>
            <p>Elena | María Jose | Sara | Yolanda</p>
        </div>
        <div class=' md:w-1/2 px-3'>
            <h2 class="text-2xl mb-4">Proyecto</h2>
            <p class="text-justify">Proyecto realizado para la asignatura de Educación de las Artes Visuales y Plásticas cursando el Grado en Educación Primaria de la Univeridad de Osuna</p>
        </div>
    </div>
    <div class="text-center border-t border-grey mt-2 pt-2">&copy; Lorenzo Jiménez 2020</div>
</footer>