<footer class="bg-gray-800 text-white w-full text-center border-t border-grey p-4">
    <div class="flex items-center mt-4">
        <div class='w-full md:w-1/2 px-3 text-left justify-center'>
            <h2 class="text-2xl mb-2">Integrantes del proyecto</h2>
            <div class="text-left">
                <ul class="">
                    <li>Sara</li>
                    <li>Sofía</li>
                    <li>Pedro</li>
                    <li>Lorenzo</li>
                </ul>
            </div>
        </div>
        <div class='w-full md:w-1/2 px-3'>
            <h2 class="text-2xl mb-2">Proyecto</h2>
            <p class="text-left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, odio. Placeat commodi eveniet, perferendis provident alias numquam ipsa corporis quidem quas accusamus autem tempore eligendi ad iste modi obcaecati voluptatem?</p>
        </div>
    </div>
</footer>